data/**/database_data/**/*.png
data/**/database_data/**/*.jpg
data/**/database_data/**/*.JPG
data/**/database_data/**/*.csv
data/**/database_data/**/*.npy
data/**/database_data/**/*.db
data/**/database_data/**/sparse/
data/**/estimated_depths/**/*.csv
data/**/visibility_masks/**/*.png
data/**/visibility_masks/**/*.npy
data/**/*.zip
pretrained_models/
runs/**/training/train*/**/*.png
runs/**/training/train*/**/*.npy
runs/**/training/train*/**/*.npz
runs/**/training/train*/**/*.tar
runs/**/training/train*/**/events*
runs/**/testing/test*/**/*.png
runs/**/testing/test*/**/*.mp4
runs/**/testing/test*/**/*.npy
runs/**/testing/test*/**/*.npz
tmp/
