data/
pretrained_models/
runs/**/training/train*/**/*.png
runs/**/training/train*/**/*.npy
runs/**/training/train*/**/*.npz
runs/**/training/train*/**/*.tar
runs/**/training/train*/**/events*
runs/**/testing/test*/**/*.png
runs/**/testing/test*/**/*.mp4
runs/**/testing/test*/**/*.npy
runs/**/testing/test*/**/*.npz
tmp/
